<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SpeedMeterAdjuster.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="DenGoNgaugeController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="LaserVolumeMeterController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SpeedMeterAdjuster.Properties.Settings>
            <setting name="portName" serializeAs="String">
                <value />
            </setting>
            <setting name="spd_010" serializeAs="String">
                <value />
            </setting>
            <setting name="spd_020" serializeAs="String">
                <value />
            </setting>
            <setting name="spd_030" serializeAs="String">
                <value />
            </setting>
            <setting name="spd_040" serializeAs="String">
                <value />
            </setting>
            <setting name="spd_050" serializeAs="String">
                <value />
            </setting>
            <setting name="spd_060" serializeAs="String">
                <value />
            </setting>
            <setting name="spd_070" serializeAs="String">
                <value />
            </setting>
            <setting name="spd_080" serializeAs="String">
                <value />
            </setting>
            <setting name="spd_090" serializeAs="String">
                <value />
            </setting>
            <setting name="spd_100" serializeAs="String">
                <value />
            </setting>
            <setting name="spd_110" serializeAs="String">
                <value />
            </setting>
            <setting name="spd_120" serializeAs="String">
                <value />
            </setting>
            <setting name="spd_130" serializeAs="String">
                <value />
            </setting>
            <setting name="spd_140" serializeAs="String">
                <value />
            </setting>
            <setting name="spd_150" serializeAs="String">
                <value />
            </setting>
            <setting name="spd_160" serializeAs="String">
                <value />
            </setting>
            <setting name="spd_limit" serializeAs="String">
                <value />
            </setting>
            <setting name="vehicle_res" serializeAs="String">
                <value />
            </setting>
            <setting name="brk_num" serializeAs="String">
                <value />
            </setting>
            <setting name="brk_angl" serializeAs="String">
                <value />
            </setting>
            <setting name="brk_eb_angl" serializeAs="String">
                <value />
            </setting>
            <setting name="brk_full_angl" serializeAs="String">
                <value />
            </setting>
            <setting name="brk_sap_max_angl" serializeAs="String">
                <value />
            </setting>
            <setting name="chat_filter" serializeAs="String">
                <value />
            </setting>
            <setting name="first_boot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="brk_sap_min_angl" serializeAs="String">
                <value />
            </setting>
            <setting name="brk_keep_angl" serializeAs="String">
                <value />
            </setting>
            <setting name="brk_keep_full_angl" serializeAs="String">
                <value />
            </setting>
            <setting name="bp_span_down" serializeAs="String">
                <value />
            </setting>
            <setting name="bp_span_up" serializeAs="String">
                <value />
            </setting>
            <setting name="autoair_use" serializeAs="String">
                <value>True</value>
            </setting>
        </SpeedMeterAdjuster.Properties.Settings>
        <DenGoNgaugeController.Properties.Settings>
            <setting name="portName" serializeAs="String">
                <value/>
            </setting>
            <setting name="spd_010" serializeAs="String">
                <value/>
            </setting>
            <setting name="spd_020" serializeAs="String">
                <value/>
            </setting>
            <setting name="spd_030" serializeAs="String">
                <value/>
            </setting>
            <setting name="spd_040" serializeAs="String">
                <value/>
            </setting>
            <setting name="spd_050" serializeAs="String">
                <value/>
            </setting>
            <setting name="spd_060" serializeAs="String">
                <value/>
            </setting>
            <setting name="spd_070" serializeAs="String">
                <value/>
            </setting>
            <setting name="spd_080" serializeAs="String">
                <value/>
            </setting>
            <setting name="spd_090" serializeAs="String">
                <value/>
            </setting>
            <setting name="spd_100" serializeAs="String">
                <value/>
            </setting>
            <setting name="spd_110" serializeAs="String">
                <value/>
            </setting>
            <setting name="spd_120" serializeAs="String">
                <value/>
            </setting>
            <setting name="spd_130" serializeAs="String">
                <value/>
            </setting>
            <setting name="spd_140" serializeAs="String">
                <value/>
            </setting>
            <setting name="spd_150" serializeAs="String">
                <value/>
            </setting>
            <setting name="spd_160" serializeAs="String">
                <value/>
            </setting>
            <setting name="spd_limit" serializeAs="String">
                <value/>
            </setting>
        </DenGoNgaugeController.Properties.Settings>
        <LaserVolumeMeterController.Properties.Settings>
            <setting name="intBinLevel" serializeAs="String">
                <value>135</value>
            </setting>
            <setting name="portName" serializeAs="String">
                <value/>
            </setting>
            <setting name="portNameWeight" serializeAs="String">
                <value/>
            </setting>
        </LaserVolumeMeterController.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
